<h1>Listing faculties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Available</th>
    <th>Program</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculties.each do |faculty| %>
  <tr>
    <td><%= faculty.name %></td>
    <td><%= faculty.available %></td>
    <td><%= faculty.program_id %></td>
    <td><%= link_to 'Show', faculty %></td>
    <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
    <td><%= link_to 'Destroy', faculty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faculty', new_faculty_path %>
