<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.text_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :ceremony_id %><br />
    <%= f.text_field :ceremony_id %>
  </div>
  <div class="field">
    <%= f.label :guest_count %><br />
    <%= f.text_field :guest_count %>
  </div>
  <div class="field">
    <%= f.label :requested_prof %><br />
    <%= f.text_field :requested_prof %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
